@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {font-family:"Roboto"}
header,footer {border:2px black solid;background-color:gray;color:white;position:fixed;width:100%;left:0;border-left:0;border-right:0;font-size:150%}
header {top:0px}
footer {bottom:0px}
h1 {margin-top:40px}
h2 {margin-bottom: 5px}
p {margin:0;margin-left: 10px;padding-right:10px}
body {background-color:lightgray;padding-bottom:40px}