@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {font-family:"Roboto"}
header,footer {border:2px black solid;background-color:gray;color:white;position:fixed;width:100%;left:0;border-left:0;border-right:0;font-size:150%}
header {top:0px}
footer {bottom:0px}
body {margin-top:40px}
h2, h3 {margin-bottom: 5px}
p {margin:0;margin-left: 10px;padding-right:10px}
body {background-color:lightgray;padding-bottom:40px}
a {color:black}
a:hover {color:cornflowerblue}
a:visited {color:rgb(61, 60, 60)}
header a, footer a, header a:visited, footer a:visited {color:white}
li {font-size: 125%;}